table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

input, button {
  margin: 5px;
}

.error {
  color: red;
}

ngx-charts-bar-vertical {
  display: block;
  height: 300px;
}
